@import './Variables/Variables.scss';

.App {
  @include flexCenterCenter();
  min-height: 100%;
  width: 660px;
  // border-left: 1px solid black;;
  // border-right: 1px solid black;;
  overflow-x: hidden;
  box-shadow: 0px 0px 10px #eeeeee;
  ::-webkit-scrollbar {
    display: none;
  }

  .css-o4b71y-MuiAccordionSummary-content {
    margin: 0;
  }

  .css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
    margin: 0;
  }
  .css-1elwnq4-MuiPaper-root-MuiAccordion-root:last-of-type {
    border-radius: 10px;
  }
}

@media screen and (max-width: $breakpoint) {
  .App {
    width: 100Vw;
    border: none;
    margin-top: 0;
  }
}