.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 660px;
  overflow-x: hidden;
  box-shadow: 0px 0px 10px #eeeeee;
}
.App ::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 660px) {
  .App {
    width: 100Vw;
    border: none;
    margin-top: 0;
  }
}