.trainerProfile {
  text-align: center;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 660px) {
  .trainerProfile .trainerProfilePicture {
    height: 150px;
    width: 150px;
  }
}

.trainerProfile h1 {
  font-family: "Jost", sans-serif;
  color: #577590;
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 20px;
}

.trainerProfile h2 {
  font-family: "Jost", sans-serif;
  color: #577590;
  font-weight: 400;
  font-size: 24px;
}

.trainerProfile .userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trainerProfile .userInfo .avatarSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 10px;
  padding-top: 10px;
}

.trainerProfile .userInfo .avatarSection .empty {
  width: 100px;
  height: 100px;
}

.trainerProfile .userInfo .avatarSection .trainerProfilePicture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
  width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  overflow: hidden;
  background-color: gray;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid white;
}

@media screen and (max-width: 660px) {
  .trainerProfile .userInfo .avatarSection .trainerProfilePicture {
    height: 150px;
    width: 150px;
  }
}

.trainerProfile .userInfo .avatarSection .trainerProfilePicture img {
  width: 100%;
}

.trainerProfile .userInfo .avatarSection .notifications-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.trainerProfile .userInfo .avatarSection .notifications-rating .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-family: "Jost", sans-serif;
  color: #577590;
  font-weight: 400;
  font-size: 18px;
}

.trainerProfile .userInfo .avatarSection .notifications-rating .rating .starIconTrainer {
  font-size: 22px;
  color: #577590;
}

.trainerProfile .userInfo .avatarSection .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
}

.trainerProfile .userInfo .avatarSection .icons .icon {
  font-size: 40px;
  color: #577590;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.trainerProfile .userInfo .avatarSection .icons .notificationCount {
  text-align: center;
  position: relative;
  top: -60px;
  right: -30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px 10px;
  font-size: 24px;
  background-color: #F9C74F;
  color: #577590;
  border-radius: 50%;
  text-align: right;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.trainerProfile .userInfo .avatarSection .icons .notificationCountEpmty {
  text-align: center;
  position: relative;
  top: -60px;
  right: -40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px 10px;
  font-size: 24px;
  background-color: white;
  color: white;
  border-radius: 50%;
  text-align: right;
}

.trainerProfile .opinionList {
  width: 70%;
}

.trainerProfile .opinionList {
  width: 70%;
}

.trainerProfile .opinionListTitle {
  font-family: "Inter", sans-serif;
  color: #577590;
  font-weight: 400;
  margin-top: 26px;
  margin-bottom: 26px;
  text-align: right;
}

.trainerProfile .noOpinion {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 13px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
}

.trainerProfile .opinionsHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
}

.trainerProfile .button {
  padding: 12px 15px;
  background-color: #F9C74F;
  color: #577590;
  font-family: "Jost", sans-serif;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: 100ms;
  transition: 100ms;
  cursor: pointer;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.trainerProfile .button:hover {
  background-color: #ffd87d;
}

.trainerProfilePicture::after {
  content: "";
  position: absolute;
  left: 0px;
  margin-top: 95px;
  width: 100%;
  height: 10px;
  background-color: #ffe8b1;
  z-index: -1;
}

@media screen and (max-width: 660px) {
  .trainerProfilePicture::after {
    content: "";
    position: absolute;
    left: 0px;
    margin-top: 70px;
    width: 100%;
    height: 10px;
    background-color: #ffe8b1;
    z-index: -1;
  }
}
