.trainerProfile {
  text-align: center;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 660px) {
  .trainerProfile .trainerProfilePicture {
    height: 150px;
    width: 150px;
  }
}
.trainerProfile h1 {
  font-family: "Jost", sans-serif;
  color: #577590;
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 20px;
}
.trainerProfile h2 {
  font-family: "Jost", sans-serif;
  color: #577590;
  font-weight: 400;
  font-size: 24px;
}
.trainerProfile .userInfo {
  display: flex;
  flex-direction: column;
}
.trainerProfile .userInfo .avatarSection {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
  padding-top: 10px;
}
.trainerProfile .userInfo .avatarSection .empty {
  width: 100px;
  height: 100px;
}
.trainerProfile .userInfo .avatarSection .trainerProfilePicture {
  height: 200px;
  width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid white;
}
@media screen and (max-width: 660px) {
  .trainerProfile .userInfo .avatarSection .trainerProfilePicture {
    height: 150px;
    width: 150px;
  }
}
.trainerProfile .userInfo .avatarSection .trainerProfilePicture img {
  height: 100%;
}
.trainerProfile .userInfo .avatarSection .notifications-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.trainerProfile .userInfo .avatarSection .notifications-rating .rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Jost", sans-serif;
  color: #577590;
  font-weight: 400;
  font-size: 18px;
}
.trainerProfile .userInfo .avatarSection .notifications-rating .rating .starIcon {
  font-size: 22px;
  color: #577590;
}
.trainerProfile .userInfo .avatarSection .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}
.trainerProfile .userInfo .avatarSection .icons .icon {
  font-size: 40px;
  color: #577590;
  transition: 100ms;
}
.trainerProfile .opinionList {
  width: 70%;
}
.trainerProfile .opinionList .opinionListHeader {
  font-family: "Inter", sans-serif;
  color: #577590;
  font-weight: 400;
  margin-top: 26px;
  margin-bottom: 26px;
  text-align: left;
}
.trainerProfile .button {
  padding: 12px 15px;
  background-color: #F9C74F;
  color: #577590;
  font-family: "Jost", sans-serif;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  flex: 1;
  transition: 100ms;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.trainerProfile .button:hover {
  background-color: #ffd87d;
}

.trainerProfilePicture::after {
  content: "";
  position: absolute;
  left: 0px;
  margin-top: 95px;
  width: 100%;
  height: 10px;
  background-color: #ffe8b1;
  z-index: -1;
}

@media screen and (max-width: 660px) {
  .trainerProfilePicture::after {
    content: "";
    position: absolute;
    left: 0px;
    margin-top: 70px;
    width: 100%;
    height: 10px;
    background-color: #ffe8b1;
    z-index: -1;
  }
}