@import '../../../Variables/Variables.scss';

.addedDog{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;

    .addedDog--header {
        font-family: "Jost", sans-serif;
        color: #577590;
        font-weight: 400;
        display: flex;
        margin-bottom: 25px;
      }

    .addedDog--buttons{
        width: 320px;
        align-items: center;
    

        .button{
            @include button($clientOrange, $blueColor);
            width:100%;
            margin-bottom: 20px;
        
        }

        .button:hover {
            @include buttonHover($clientOrangeHover);
        }
    }
}