@import '../../Variables/Variables.scss';

.clientPreviousWalk {

    h1 {
        margin: 0;
    }

    .info {
        display: flex;
        flex-direction: column;

        p {
            align-self: flex-start;
        }
    }

    max-width: 50%;
    margin: 42px auto;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: $blueColor;

    * {
        font-family: $Inter;
        font-weight: 500;
        font-size: 16px;
    }

    .line {
        width: 100%;
        height: 2px;
        background-color: $blueColorLighter;
        border: 1px solid $blueColorLighter;
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .trainer {
        display: flex;
        margin-top: 20px ;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .trainerElement {
            margin: 10px;
        }

        .buttonUser {
            display: flex;
            align-items: center;
            border-radius: 10px;
            min-height: 50px;
            padding: 10px;
            border: none;
            background-color: $clientOrange;
            color: white;
            cursor: pointer;
            transition: 200ms;
            letter-spacing: 1px;

            p {
                margin: 0;
            }
        }

        .buttonUser:hover {
            background-color: $clientOrangeHover;
            color: $blueColor
        }
    }

    .NamesElements {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        p {
            margin-right: 20px;
        }

        .names {
            display: flex;
            flex: 1;
            flex-wrap: wrap;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin-top: 24px;
    }
}
@media screen and (max-width: 500px) {
    .trainerIncomingWalk {
        max-width: 70%;
    }
}