.trainerElement {
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.trainerElement .trainerImage {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
  border-radius: 50%;
}

.trainerElement .trainerImage img {
  height: 100%;
}
