.trainerElement {
    margin: 10px auto;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    .trainerImage {
        width: 40px;
        height: 40px;
        object-fit: contain;
        overflow: hidden;
        border-radius: 50%;
        background-color: gray;
        transition: 100ms;

        img {
            height: 100%;
        }
    }

}
.trainerElement:hover {
    .trainerImage {
        transform: scale(1.2);
    }
}