@import '../../Variables/Variables.scss';

.trainerWalkDogs{
  .dogWalkDataContainer {
  border-radius: 10px;
  padding: 13px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 300ms;
  margin-top: 20px;
  
  .dogWalkPictureContainer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
    background-color: gray;
    overflow: hidden;
    transition: 100ms;

    p {
      transform: 100ms;
    }

    img {
      height: 100%;
    }
  }

  .dogWalkName {
    font-family: $Inter;
    font-size: 18px;
    margin-left: 20px;
    width: auto;
  }

  .icon {
    color: #577590;
    font-size: 36px;
    transition: 100ms;
  }

}
}
.dogPictureContainer:hover {
  transform: scale(1.4);
}

.dogWalkDataContainer:hover {
  background-color: $blueColorLighter;
  box-shadow: 0px 0px 4px rgba($color: #000000, $alpha: 0.25);

  p {
    color: white;
  }
}
