.trainerProfile {
  text-align: center;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 660px) {
  .trainerProfile .profilePicture {
    height: 150px;
    width: 150px;
  }
}
.trainerProfile h1 {
  font-family: "Jost", sans-serif;
  color: #577590;
  font-weight: 400;
}
.trainerProfile h2 {
  font-family: "Jost", sans-serif;
  color: #577590;
  font-weight: 400;
}
.trainerProfile .starIcon {
  vertical-align: middle;
  color: #577590;
  margin-left: 2px;
}
.trainerProfile .rating {
  display: inline-block;
  vertical-align: middle;
}
.trainerProfile .userInfo {
  display: flex;
  flex-direction: column;
}
.trainerProfile .userInfo .avatarSection {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
  padding-top: 10px;
}
.trainerProfile .userInfo .avatarSection .profilePicture {
  height: 100px;
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid white;
}
@media screen and (max-width: 660px) {
  .trainerProfile .userInfo .avatarSection .profilePicture {
    height: 150px;
    width: 150px;
  }
}
.trainerProfile .userInfo .avatarSection .profilePicture img {
  height: 100%;
}
.trainerProfile .opinionList {
  width: 70%;
}
.trainerProfile .opinionListTitle {
  font-family: "Inter", sans-serif;
  color: #577590;
  font-weight: 400;
  margin-top: 26px;
  margin-bottom: 26px;
  text-align: left;
}