@import '../../../Variables/Variables.scss';

@mixin text($fontSize){
  font-family: $Jost;
  color: $blueColor;
  font-weight: 400;
}

.clientEditProfile {
  @include flexCenterCenter();
  flex-direction: column;
  align-items: center;

  .profilePictureContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.25);
    height: 219px;
    width: 219px;
    margin-bottom: 34px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .formError {
    color: rgb(255, 77, 77);
    max-width: 250px;
    margin-top: -22px;
    background-color: white;
    width: fit-content;
    align-self: flex-start;
    border-radius: 0 10px 0 0;
    padding-right: 5px;
    margin-bottom: 0;
  }

  h1 {
    @include text($fontSize: 36px);
    margin-bottom: 0px;
  }
      
  form {
    @include flexCenterCenter();
    margin-top: 34px;
    flex-direction: column;

    > * {
      width: 100%;
    }

    input {
      @include textInput($greenColor);
      margin-bottom: 34px;
    }

    input::placeholder{
      color: $greenColor;
    }

    input[type="file"] {
      display: none;
    }

    a {
      padding: 0px;
    }

    .button {
      @include button($clientOrange, $blueColor);
      padding: 12px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      text-decoration: none;
      margin: 0;
      margin-bottom: 34px;
    }
    
    .button:hover {
      @include buttonHover($clientOrangeHover);
    }
  }

}