.clientEditProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.clientEditProfile .profilePictureContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  height: 219px;
  width: 219px;
  margin-bottom: 34px;
  overflow: hidden;
}
.clientEditProfile .profilePictureContainer img {
  height: 100%;
}
.clientEditProfile .formError {
  color: rgb(255, 77, 77);
  max-width: 250px;
  margin-top: -22px;
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: flex-start;
  border-radius: 0 10px 0 0;
  padding-right: 5px;
  margin-bottom: 0;
}
.clientEditProfile h1 {
  font-family: "Jost", sans-serif;
  color: #577590;
  font-weight: 400;
  margin-bottom: 0px;
}
.clientEditProfile form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 34px;
  flex-direction: column;
}
.clientEditProfile form > * {
  width: 100%;
}
.clientEditProfile form input {
  text-indent: 13px;
  padding: 12px 0;
  font-family: "Inter", sans-serif;
  border: 1px solid #90BE6D;
  border-radius: 10px;
  font-size: 18px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 34px;
}
.clientEditProfile form input::-moz-placeholder {
  color: #90BE6D;
}
.clientEditProfile form input:-ms-input-placeholder {
  color: #90BE6D;
}
.clientEditProfile form input::placeholder {
  color: #90BE6D;
}
.clientEditProfile form input[type=file] {
  display: none;
}
.clientEditProfile form a {
  padding: 0px;
}
.clientEditProfile form .button {
  padding: 12px 15px;
  background-color: #F9C74F;
  color: #577590;
  font-family: "Jost", sans-serif;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  flex: 1;
  transition: 100ms;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  padding: 12px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-decoration: none;
  margin: 0;
  margin-bottom: 34px;
}
.clientEditProfile form .button:hover {
  background-color: #ffd87d;
}