.clientTrainerList {
  text-align: center;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clientTrainerList h1 {
  font-family: "Jost", sans-serif;
  color: #577590;
  font-weight: 400;
}