.loggedInTrainerNavbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 63px;
  bottom: 0;
  background-color: #577590;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  flex-direction: column;
}
.loggedInTrainerNavbar .navButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.loggedInTrainerNavbar .navButtons .menuIcons {
  color: #fff;
  font-size: 45px;
  margin: 20px;
  cursor: pointer;
  transition: 100ms;
}
.loggedInTrainerNavbar .navLinks {
  flex-direction: column;
  width: 60%;
}
.loggedInTrainerNavbar .navLink {
  text-align: center;
  display: block;
  flex: 1;
  border-bottom: 1px #fff solid;
  padding: 16px 0;
  color: #fff;
  font-size: 22px;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: 300ms;
  color: white;
}
.loggedInTrainerNavbar .navLink:hover {
  background-color: #718DA7;
}
.loggedInTrainerNavbar .logoutButton {
  font-size: 18px;
  color: #577590;
  background-color: #F9C74F;
  padding: 10px 25px;
  align-self: flex-end;
  margin: 20px 45px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.loggedInTrainerNavbar .logoutButton:hover {
  background-color: #ffd87d;
}

.menuShow {
  height: auto;
}

@media screen and (min-width: 660px) {
  .loggedInTrainerNavbar {
    top: 0;
    bottom: auto;
  }
}
.menuIcons:hover {
  transform: scale(1.4);
}