@import '../../../Variables/Variables.scss';

.registerForm {
  @include flexCenterCenter();
  flex-direction: column;
  flex: 1;
  padding-bottom: 20px;

  .formError {
    color: rgb(255, 77, 77);
    margin-top: -22px;
    margin-left: 15px;
    background-color: white;
    width: fit-content;
    align-self: flex-start;
    border-radius: 0 10px 0 0;
    padding-right: 5px;
    margin-bottom: 0;
  }

  h1 {
    color: $blueColor;
    font-family: $Jost;
    font-size: 46px;
  }

  svg {
    margin-left: -40px;
    }
      
  form {
    @include flexCenterCenter();
    margin-top: 34px;
    width: 70%;
    flex-direction: column;

    input {
      @include textInput($greenColor);
      margin-bottom: 34px;
    }

    input::placeholder{
      color: $greenColor;
    }

    a {
      margin-top: -34px;
      margin-bottom: 34px;
      width: auto;
      margin-left: auto;
    }

    * {
      width: 100%;
    }

    .buttonsContainer {
      margin-top: auto;
      @include flexCenterCenter();
      flex-direction: column;
      align-items:unset;
      gap: 20px;
      margin-top: 20px;

      .button {
        @include button($clientOrange, $blueColor);
        flex: 1;
        text-decoration: none;
        text-align: center;
        margin: 0;
      }
      .button:hover {
        @include buttonHover($clientOrangeHover);
      }
    }
  }
  
}