.registerForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  padding-bottom: 20px;
}
.registerForm .formError {
  color: rgb(255, 77, 77);
  margin-top: -22px;
  margin-left: 15px;
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: flex-start;
  border-radius: 0 10px 0 0;
  padding-right: 5px;
  margin-bottom: 0;
}
.registerForm h1 {
  color: #577590;
  font-family: "Jost", sans-serif;
  font-size: 46px;
}
.registerForm svg {
  margin-left: -40px;
}
.registerForm form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 34px;
  width: 70%;
  flex-direction: column;
}
.registerForm form input {
  text-indent: 13px;
  padding: 12px 0;
  font-family: "Inter", sans-serif;
  border: 1px solid #90BE6D;
  border-radius: 10px;
  font-size: 18px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 34px;
}
.registerForm form input::-moz-placeholder {
  color: #90BE6D;
}
.registerForm form input:-ms-input-placeholder {
  color: #90BE6D;
}
.registerForm form input::placeholder {
  color: #90BE6D;
}
.registerForm form a {
  margin-top: -34px;
  margin-bottom: 34px;
  width: auto;
  margin-left: auto;
}
.registerForm form * {
  width: 100%;
}
.registerForm form .buttonsContainer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: unset;
  gap: 20px;
  margin-top: 20px;
}
.registerForm form .buttonsContainer .button {
  padding: 12px 15px;
  background-color: #F9C74F;
  color: #577590;
  font-family: "Jost", sans-serif;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  flex: 1;
  transition: 100ms;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  flex: 1;
  text-decoration: none;
  text-align: center;
  margin: 0;
}
.registerForm form .buttonsContainer .button:hover {
  background-color: #ffd87d;
}