.notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  padding: 16px;
  margin: 18px auto;
  width: 100%;
  outline: 1px solid #a5b9cb;
  outline-offset: -6px;
  border: 1px solid #a5b9cb;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: 100ms;
  transition: 100ms;
  font-size: 18px;
  color: #577590;
}

.notification .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.notification .description .icon {
  font-size: 40px;
}

.notification .description .icon:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.notification .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.notification:hover {
  outline-offset: -2px;
  outline-color: white;
}

@media screen and (max-width: 450px) {
  .notification {
    max-width: 80%;
  }
}
