.trainerEditProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
}

.trainerEditProfile .profilePictureContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  height: 219px;
  width: 219px;
  margin-bottom: 34px;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid white;
}

.trainerEditProfile .profilePictureContainer img {
  height: 100%;
}

.trainerEditProfile .formError, .trainerEditProfile .formLabel {
  margin-top: -20px;
  margin-left: 15px;
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-radius: 0 10px 0 0;
  padding-right: 5px;
  margin-bottom: 0;
  max-width: 26ch;
}

.trainerEditProfile .formError {
  color: #ff4d4d;
}

.trainerEditProfile .formLabel {
  color: #90BE6D;
}

.trainerEditProfile h1 {
  font-family: "Jost", sans-serif;
  color: #577590;
  font-weight: 400;
  margin-bottom: 0px;
}

.trainerEditProfile form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 34px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trainerEditProfile form > * {
  width: 100%;
}

.trainerEditProfile form input {
  text-indent: 13px;
  padding: 12px 0;
  font-family: "Inter", sans-serif;
  border: 1px solid #90BE6D;
  border-radius: 10px;
  font-size: 18px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 34px;
}

.trainerEditProfile form input::-webkit-input-placeholder {
  color: #90BE6D;
}

.trainerEditProfile form input:-ms-input-placeholder {
  color: #90BE6D;
}

.trainerEditProfile form input::-ms-input-placeholder {
  color: #90BE6D;
}

.trainerEditProfile form input::placeholder {
  color: #90BE6D;
}

.trainerEditProfile form input[type="file"] {
  display: none;
}

.trainerEditProfile form a {
  padding: 0px;
}

.trainerEditProfile form .button {
  padding: 12px 15px;
  background-color: #577590;
  color: white;
  font-family: "Jost", sans-serif;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: 100ms;
  transition: 100ms;
  cursor: pointer;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  padding: 12px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  flex: 1;
  text-decoration: none;
  margin: 0;
  margin-bottom: 34px;
}

.trainerEditProfile form .button:hover {
  background-color: #a5b9cb;
  color: black;
}
