.registerSuccess {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  align-items: center;
  max-width: 70%;
}
.registerSuccess h2 {
  color: #577590;
  font-family: "Jost", sans-serif;
  font-size: 46px;
  text-align: center;
  margin-bottom: 34px;
}
.registerSuccess .button {
  padding: 12px 15px;
  background-color: #F9C74F;
  color: #577590;
  font-family: "Jost", sans-serif;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  flex: 1;
  transition: 100ms;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  flex: 1;
  text-decoration: none;
  text-align: center;
  margin: 0;
}
.registerSuccess .button:hover {
  background-color: #ffd87d;
}