.registerSuccess {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  align-items: center;
  max-width: 70%;
}

.registerSuccess h2 {
  color: #577590;
  font-family: "Jost", sans-serif;
  font-size: 46px;
  text-align: center;
  margin-bottom: 34px;
}

.registerSuccess .button {
  padding: 12px 15px;
  background-color: #F9C74F;
  color: #577590;
  font-family: "Jost", sans-serif;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: 100ms;
  transition: 100ms;
  cursor: pointer;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  flex: 1;
  text-decoration: none;
  text-align: center;
  margin: 0;
}

.registerSuccess .button:hover {
  background-color: #ffd87d;
}
